@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(241 240 240);
}

#portada {
  max-width: 20%;
}
@media (max-width: 990px) {
  #portada {
    max-width: 50%;
  }
}

#michipun {
  width: 20%;
}
@media (max-width: 990px) {
  #michipun {
    width: 60%;
    margin-bottom: 1rem;
  }
}

#userPassContainer {
  color: #3d3636;
  font-family: "Nunito", sans-serif;
  font-size: 0.85rem;
  margin: -2rem;
}

.login-container,
.game-container {
  height: 90vh;
  width: 90%;
  border-radius: 10px;
  background-color: #daafaf;
  background-image: url(images/Fondo.png);
  background-repeat: repeat;
  background-size: 70%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.orden-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

@media (max-width: 990px) {
  .login-container {
    width: 90%;
  }
}

h1 {
  font-size: 1.25rem;
  color: #3d3636;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

h2 {
  font-size: 1rem;
  color: #3d3636;
  font-family: "Nunito", sans-serif;
  margin: 1rem 0;
}

#formLogin {
  margin-top: -3rem;
}

.textLogin {
  font-size: 1rem;
  color: #252526;
}

.inputLogin {
  margin: 0.5rem 0;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 15rem;
}

#btnLogin {
  width: 15rem;
  background: #c25451;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

#btnLogin:hover {
  background: #cf8381;
}

.btn-selection,
#replay-game,
#close-session {
  width: 10rem;
  background: #c25451;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.btn-selection:hover {
  background: #cf8381;
}

.btn-selection:disabled {
  background: #cf8381;
  cursor: not-allowed;
}

@media (max-width: 990px) {
  .btn-selection {
    width: 6rem;
    background: #c25451;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
  }
}

@media (max-width: 990px) {
  #replay-game,
  #close-session {
    width: 8rem;
    font-size: 0.85rem;
    height: 3rem;
  }
}

#userImg,
#machineImg {
  width: 100px;
}

@media (max-width: 990px) {
  #userImg,
  #machineImg {
    width: 90px;
  }
}

#result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #3d3636;
}

.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row {
  height: 7rem;
  width: 100%;
}

@media (max-width: 990px) {
  .top-row {
    width: 90%;
    margin-top: -2rem;
  }
}

.center-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 2.5rem;
  background: #fef1e6ad;
  margin: 1rem 0;
  border-radius: 10px;
}

#resultText {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  width: 22rem;
  color: rgb(61 54 54);
  text-align: center;
  font-weight: 700;
  margin: 0 0.5rem;
}

@media (max-width: 990px) {
  #resultText {
    width: 10rem;
    font-size: 1rem;
  }
}

.scoreContainer {
  height: 7rem;
}

#list-score {
  color: #252526;
}

ol > li {
  margin: 0.25rem 0;
  text-transform: capitalize;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  color: #252526;
}

#login-container {
  display: block;
}

#game-container {
  display: none;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.651);
  height: 2.5rem;
  width: 5rem;
  border-radius: 10px;
  color: #c25451;
  margin: 0.25rem;
}

.finalOptions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
